@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}

body {
    font-family: "Poppins", sans-serif;
}

.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.Button-container {
    display:flex;
    gap: 2rem;
}

.Button {
    font-size: 1.5rem;
}

.Button:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.hamburger-nav {
    display: none;
}

.hamburger-menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    margin-top: 5px;
}

.line {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: white;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.x {
    color: red;
    margin-left: 55px;
}

.menu-links {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

@media (max-width: 767px) {

    .hamburger-nav {
        display: flex;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        z-index: 10;
        justify-content: space-between;
    }

    .Nav {
        display: none;
    }
}

.profile {
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.photo-container {

}
